# lksearch tutorial

In [1]:
from tssc import MASTSearch, KeplerSearch, K2Search, TESSSearch

/Users/nthom/opt/anaconda3/envs/py3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/nthom/opt/anaconda3/envs/py3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

Welcome to the new lksearch module! This package allows users to peruse available data products for the TESS, Kepler, and K2 missions. This notebook will guide you through several examples of how to use search functions. 

The result of the search is a MASTSearch object, which contains among other things a full list of results stored in a pandas dataframe.

*NOTE: While MASTSearch is a usable class, it does not have all of the functionality or nicities of the mission-specific searches (TESSSearch/KeplerSearch/K2Search). It is therefore recommended you as the user interact with these instead.*

## Basic Searches


### Data Exploration
The lksearch package provides a user-friendly wrapper to search the MAST data archive. The most generic search is to use MASTsearch, which checks for mission products from three missions (Kepler, K2, and TESS). This search can be useful for data exploration, but does not have full functionality, as discussed below.

In addition, you can specify 

- search_radius: a search radius (assumes arcsec by default, but you can specify anything by using astropy units)
- exptime: the exposure time of the observation. Either a number or a range in the form of a tuple
- mission: the mission - only Kepler, K2, and TESS are directly supported
- pipline: the pipeline(s) used to create the product, eg. Kepler, K2, SPOC, QLP, KBONUS-BKG, etc

and in the case of mission-specific searches

- a sequence number*
    - sector for TESS
    - quarter/month for Kepler
    - campaign for K2
   
**NOTE* only a single sequence can be passed on initialization. If you want to specify a list of values, you can modify the table after initialization using search_result.limit_table()

In [2]:
# First, we can check what data is available by any mission (TESS, Kepler, or K2)
# TOI-1161 is the same as Kepler-13. You can search using either name to get the same results
search_result = MASTSearch("TOI 1161")
search_result

,target_name,pipeline,mission,exptime,distance,year,description
0,158324245,SPOC,TESS,120.0,0.0,2019,full data validation report
1,158324245,SPOC,TESS,120.0,0.0,2019,Light curves
2,158324245,SPOC,TESS,120.0,0.0,2019,TCE summary report
3,158324245,SPOC,TESS,120.0,0.0,2019,Data validation mini report
4,158324245,SPOC,TESS,120.0,0.0,2019,Target pixel files
...,...,...,...,...,...,...,...
239,kplr009941662,Kepler,Kepler,60.0,0.0,2012,Lightcurve Short Cadence (CSC) - Q14
240,kplr009941662,Kepler,Kepler,60.0,0.0,2012,Target Pixel Short Cadence (TPS) - Q14
241,kplr009941662,Kepler,Kepler,60.0,0.0,2013,Lightcurve Short Cadence (CSC) - Q17
242,kplr009941662,Kepler,Kepler,60.0,0.0,2011,Target Pixel Short Cadence (TPS) - Q11
243,kplr009941662,Kepler,Kepler,60.0,0.0,2009,Target Pixel Short Cadence (TPS) - Q2

Note that search_result is a MASTSearch object. When calling the object, a summary of the contents (MASTSearch object containing X data products) is printed to the screen along with a subset of the observation table. 

The returned MASTSearch object has several properties to easily access specific observation characteristics. These include 

- target name (target_name)
- right ascension (ra)
- declination (dec)
- exposure time (exptime)
- mission
- obsrvation year (year)
- reduction pipeline (pipeline)
- data location URI (uris)
- data location in cloud storage (cloud_uris)

In [3]:
# Let's use this to check what mission(s) have observed this target
print(search_result.mission)

['TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS'
 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS'
 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS'
 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS'
 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS'
 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'Kepler'
 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler'
 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler'
 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler'
 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler'
 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'TESS'
 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS'
 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS'
 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS'
 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS'
 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS'
 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS'
 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'TESS' 'Kepler' 'Kepler'
 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler'
 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler'
 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler'
 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler'
 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler'
 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler'
 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler'
 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler'
 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler' 'Kepler'
 'Kepler' 'Kepler']

In [4]:
print(f"There are {sum(search_result.mission == 'TESS')} observations by TESS and {sum(search_result.mission == 'Kepler')} by Kepler")

There are 128 observations by TESS and 116 by Kepler

### Accessing the full result table

To view all of the results, you can access the 'table' variable. This table is a pandas dataframe that contains the full results of the MAST search as well as a few added parameters such as *year*, *start_time*, and *end_time*.

In [5]:
search_result.table

,obs_index,prod_index,intentType,obs_collection_obs,provenance_name,instrument_name,project_obs,filters_obs,wavelength_region,target_name,...,size,parent_obsid,dataRights,calib_level_prod,filters_prod,pipeline,mission,year,start_time,end_time
0,0,124,science,TESS,SPOC,Photometer,TESS,TESS,Optical,158324245,...,16426251,27448285,PUBLIC,3,TESS,SPOC,TESS,2019,2019-07-18 20:30:33.624,2019-08-14 16:56:23.634
1,0,125,science,TESS,SPOC,Photometer,TESS,TESS,Optical,158324245,...,1964160,27448285,PUBLIC,3,TESS,SPOC,TESS,2019,2019-07-18 20:30:33.624,2019-08-14 16:56:23.634
2,0,126,science,TESS,SPOC,Photometer,TESS,TESS,Optical,158324245,...,1322689,27448285,PUBLIC,3,TESS,SPOC,TESS,2019,2019-07-18 20:30:33.624,2019-08-14 16:56:23.634
3,0,128,science,TESS,SPOC,Photometer,TESS,TESS,Optical,158324245,...,5082604,27448285,PUBLIC,3,TESS,SPOC,TESS,2019,2019-07-18 20:30:33.624,2019-08-14 16:56:23.634
4,0,131,science,TESS,SPOC,Photometer,TESS,TESS,Optical,158324245,...,47376000,27448285,PUBLIC,2,TESS,SPOC,TESS,2019,2019-07-18 20:30:33.624,2019-08-14 16:56:23.634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,30,119,science,Kepler,Kepler,Kepler,Kepler,KEPLER,OPTICAL,kplr009941662,...,5045760,599738,PUBLIC,2,KEPLER,Kepler,Kepler,2012,2009-05-02 00:54:00.000,2013-05-11 12:15:00.000
240,30,120,science,Kepler,Kepler,Kepler,Kepler,KEPLER,OPTICAL,kplr009941662,...,76302956,599738,PUBLIC,2,KEPLER,Kepler,Kepler,2012,2009-05-02 00:54:00.000,2013-05-11 12:15:00.000
241,30,121,science,Kepler,Kepler,Kepler,Kepler,KEPLER,OPTICAL,kplr009941662,...,648000,599738,PUBLIC,2,KEPLER,Kepler,Kepler,2013,2009-05-02 00:54:00.000,2013-05-11 12:15:00.000
242,30,122,science,Kepler,Kepler,Kepler,Kepler,KEPLER,OPTICAL,kplr009941662,...,130764115,599738,PUBLIC,2,KEPLER,Kepler,Kepler,2011,2009-05-02 00:54:00.000,2013-05-11 12:15:00.000
243,30,123,science,Kepler,Kepler,Kepler,Kepler,KEPLER,OPTICAL,kplr009941662,...,64708791,599738,PUBLIC,2,KEPLER,Kepler,Kepler,2009,2009-05-02 00:54:00.000,2013-05-11 12:15:00.000


By default, MASTSearch returns any available data provided by a *mission* pipeline. This means that any available High Level Science Products (HLSPs) are NOT returned. Additonally, TESS full frame images (FFIs) are not returned by MASTSearch. To search for these data types, we recommend using the mission-specific searches.

# TESS search

In [6]:
# Search for TESS data only. This by default includes both HLSPs and FFI cutouts. 
toi = TESSSearch('TOI 1161')
toi

,target_name,pipeline,mission,sector,exptime,distance,year,description
0,158324245,SPOC,TESS,14,120.0,0.0,2019,Target pixel files
1,158324245,SPOC,TESS,14,120.0,0.0,2019,full data validation report
2,158324245,SPOC,TESS,14,120.0,0.0,2019,Data validation mini report
3,158324245,SPOC,TESS,14,120.0,0.0,2019,TCE summary report
4,158324245,SPOC,TESS,14,120.0,0.0,2019,Light curves
...,...,...,...,...,...,...,...,...
230,1717079066,CDIPS,HLSP,55,1800.0,0.0,2022,FITS
231,158324245,CDIPS,HLSP,55,1800.0,0.0,2022,FITS
232,158324245,QLP,HLSP,55,600.0,0.0,2022,FITS
233,1717079066,QLP,HLSP,55,600.0,0.0,2022,FITS
234,1717079071,QLP,HLSP,55,600.0,0.0,2022,FITS

There are 200+ TESS data products available for this target. Note that this is more than were returned by our first MASTsearch. These 'extra' data products come from non-mission sources. The 'pipeline' column shows what pipeline was used to generate the data product. The 'mission' column simply reports if the data is a mission product or HLSP. Another addition for the TESSSearch is the 'sector' column. This column is only populated in the TESSSearch call, so is not available when using MASTSearch. 

Now that we know that TESS has observed this target, we may want to restrict our search to match our needs. Below we demonstrate some common filtering examples.

In [7]:
# Only return timeseries (lightcurve) products
toi_lc = toi.timeseries
toi_lc

TESSSearch object containing 83 data products   target_name pipeline mission  sector  exptime  distance  year   description
0    158324245     SPOC    TESS      14    120.0       0.0  2019  Light curves
1    158324245     SPOC    TESS      15    120.0       0.0  2019  Light curves
2    158324245     SPOC    TESS      26    120.0       0.0  2020  Light curves
3   1717079071     SPOC    TESS      26    120.0       0.0  2020  Light curves
4   1717079066     SPOC    TESS      40    120.0       0.0  2021  Light curves
..         ...      ...     ...     ...      ...       ...   ...           ...
78  1717079066    CDIPS    HLSP      55   1800.0       0.0  2022          FITS
79   158324245    CDIPS    HLSP      55   1800.0       0.0  2022          FITS
80   158324245      QLP    HLSP      55    600.0       0.0  2022          FITS
81  1717079066      QLP    HLSP      55    600.0       0.0  2022          FITS
82  1717079071      QLP    HLSP      55    600.0       0.0  2022          FITS

[83 rows x 8 columns]

In [8]:
# Only return cubedata (TPF) products
# NOTE: Only TESS provides FFI cutouts
toi_cube = toi.cubedata
toi_cube

,target_name,pipeline,mission,sector,exptime,distance,year,description
0,158324245,SPOC,TESS,14,120.0,0.0,2019,Target pixel files
1,158324245,SPOC,TESS,15,120.0,0.0,2019,Target pixel files
2,158324245,SPOC,TESS,26,120.0,0.0,2020,Target pixel files
3,1717079071,SPOC,TESS,26,120.0,0.0,2020,Target pixel files
4,1717079066,SPOC,TESS,40,120.0,0.0,2021,Target pixel files
...,...,...,...,...,...,...,...,...
43,TOI 1161,TESScut,TESS Sector 55,55,600.0,0.0,2022,TESS FFI Cutout (sector 55)
44,TOI 1161,TESScut,TESS Sector 74,74,200.0,0.0,2024,TESS FFI Cutout (sector 74)
45,TOI 1161,TESScut,TESS Sector 75,75,200.0,0.0,2024,TESS FFI Cutout (sector 75)
46,TOI 1161,TESScut,TESS Sector 80,80,200.0,0.0,2024,TESS FFI Cutout (sector 80)
47,TOI 1161,TESScut,TESS Sector 82,82,200.0,0.0,2024,TESS FFI Cutout (sector 82)

In [9]:
# Only return data validation products. These are PDFs generated automatically during transit searches. 
toi_dv = toi.dvreports
toi_dv

,target_name,pipeline,mission,sector,exptime,distance,year,description
0,158324245,SPOC,TESS,14,120.0,0.0,2019,full data validation report
1,158324245,SPOC,TESS,14,120.0,0.0,2019,Data validation mini report
2,158324245,SPOC,TESS,14,120.0,0.0,2019,TCE summary report
3,158324245,SPOC,TESS,14,120.0,0.0,2019,full data validation report
4,158324245,SPOC,TESS,14,120.0,0.0,2019,TCE summary report
...,...,...,...,...,...,...,...,...
99,1717079066,TESS-SPOC,HLSP,54,600.0,0.0,2022,Informational PDF
100,1717079066,TESS-SPOC,HLSP,55,600.0,0.0,2022,PDF
101,1717079066,TESS-SPOC,HLSP,55,600.0,0.0,2022,Informational PDF
102,158324245,TESS-SPOC,HLSP,55,600.0,0.0,2022,Informational PDF
103,158324245,TESS-SPOC,HLSP,55,600.0,0.0,2022,PDF

Even after limiting results by data type, there are a lot of results for this target. The filter_table function allows you to filter by several additional parameters. These are:
- exposure time (exptime)
- the data pipline (pipeline)
- the total number of results (limit). 

In addition, KeplerSearch objects can be filtered by quarter/month, TESSSearch objects by sector, and K2Search objects by campaign.

In [10]:
# Keep any data type, but only the shortest cadence available, which in this case is 2-minute data

toi_shortest = toi.filter_table(exptime='shortest')
toi_shortest

,target_name,pipeline,mission,sector,exptime,distance,year,description
0,158324245,SPOC,TESS,74,20.0,0.0,2024,Target pixel files
1,158324245,SPOC,TESS,74,20.0,0.0,2024,Light curves
2,1717079066,SPOC,TESS,74,20.0,0.0,2024,Light curves
3,1717079066,SPOC,TESS,74,20.0,0.0,2024,Target pixel files
4,1717079066,SPOC,TESS,75,20.0,0.0,2024,Light curves
5,1717079066,SPOC,TESS,75,20.0,0.0,2024,Target pixel files
6,158324245,SPOC,TESS,75,20.0,0.0,2024,Target pixel files
7,158324245,SPOC,TESS,75,20.0,0.0,2024,Light curves

In [11]:
# You could also specify an exact exposure time or range in the form of a tuple (eg, (100,500))
toi_trange = toi.filter_table(exptime=(100,500))
toi_trange

,target_name,pipeline,mission,sector,exptime,distance,year,description
0,158324245,SPOC,TESS,14,120.0,0.0,2019,Target pixel files
1,158324245,SPOC,TESS,14,120.0,0.0,2019,full data validation report
2,158324245,SPOC,TESS,14,120.0,0.0,2019,Data validation mini report
3,158324245,SPOC,TESS,14,120.0,0.0,2019,TCE summary report
4,158324245,SPOC,TESS,14,120.0,0.0,2019,Light curves
...,...,...,...,...,...,...,...,...
122,TOI 1161,TESScut,TESS Sector 80,80,200.0,0.0,2024,TESS FFI Cutout (sector 80)
123,TOI 1161,TESScut,TESS Sector 82,82,200.0,0.0,2024,TESS FFI Cutout (sector 82)
124,158324245,TASOC,HLSP,14,120.0,0.0,2019,FITS
125,158324245,TASOC,HLSP,15,120.0,0.0,2019,FITS
126,158324245,TASOC,HLSP,26,120.0,0.0,2020,FITS

In [12]:
toi_lim = toi.filter_table(limit=2)
toi_lim

,target_name,pipeline,mission,sector,exptime,distance,year,description
0,158324245,SPOC,TESS,14,120.0,0.0,2019,Target pixel files
1,158324245,SPOC,TESS,14,120.0,0.0,2019,full data validation report

Keep in mind, you can chain these commands

In [13]:
toi_short_lcs = toi.timeseries.filter_table(exptime=120, sector=14)
toi_short_lcs

TESSSearch object containing 2 data products  target_name pipeline mission  sector  exptime  distance  year   description
0   158324245     SPOC    TESS      14    120.0       0.0  2019  Light curves
1   158324245    TASOC    HLSP      14    120.0       0.0  2019          FITS

Once your search result contains the files you want, you can download the files directly to your machine.

In [14]:
toi_short_lcs.download()

100%|█████████████████████████████████████████████| 2/2 [00:02<00:00,  1.42s/it]

                                          Local Path    Status Message   URL
0  /Users/nthom/.tssc/cache/mastDownload/TESS/tes...  COMPLETE    None  None
0  /Users/nthom/.tssc/cache/mastDownload/HLSP/hls...  COMPLETE    None  None

## Kepler Search

The call to KeplerSearch saves all availabe data products for the target as a table. Like with the other search objects, there are several convenient functions to limit the results to timeseries (lighcurve), cubedata (target pixel files and, in the case of TESS only, full frame image cutouts), and dvreports (PDF data validation reports generated by the data pipelines). Calling these functions returns a new search object.

In [30]:
# What timeseries data is available?
kep = KeplerSearch('Kepler 137')
kep

,target_name,pipeline,mission,quarter,exptime,distance,year,description
0,kplr007419318,Kepler,Kepler,0,1800.000,0.0,2009,Lightcurve Long Cadence (CLC) - Q0
1,kplr007419318,Kepler,Kepler,0,1800.000,0.0,2009,Target Pixel Long Cadence (TPL) - Q0
2,kplr007419318,Kepler,Kepler,1,1800.000,0.0,2009,Lightcurve Long Cadence (CLC) - Q1
3,kplr007419318,Kepler,Kepler,1,1800.000,0.0,2009,Target Pixel Long Cadence (TPL) - Q1
4,kplr007419318,Kepler,Kepler,2,1800.000,0.0,2009,Lightcurve Long Cadence (CLC) - Q2
...,...,...,...,...,...,...,...,...
77,kplr007419318,Kepler,Kepler,17,1800.000,0.0,2013,Target Pixel Long Cadence (TPL) - Q17
78,kplr007419318,Kepler,Kepler,99,1800.000,0.0,2009,Data Validation summary report
79,kplr007419318,Kepler,Kepler,99,1800.000,0.0,2009,Data Validation summary report
80,kplr007419318,Kepler,Kepler,99,1800.000,0.0,2009,Data Validation full report
81,Gaia DR3 2104847370214740352,KBONUS-BKG,HLSP,99,1765.464,0.0,2009,FITS

In [31]:
kep_lc = kep.timeseries
kep_lc

,target_name,pipeline,mission,quarter,exptime,distance,year,description
0,kplr007419318,Kepler,Kepler,0,1800.000,0.0,2009,Lightcurve Long Cadence (CLC) - Q0
1,kplr007419318,Kepler,Kepler,1,1800.000,0.0,2009,Lightcurve Long Cadence (CLC) - Q1
2,kplr007419318,Kepler,Kepler,2,1800.000,0.0,2009,Lightcurve Long Cadence (CLC) - Q2
3,kplr007419318,Kepler,Kepler,3,1800.000,0.0,2009,Lightcurve Long Cadence (CLC) - Q3
4,kplr007419318,Kepler,Kepler,4,1800.000,0.0,2010,Lightcurve Long Cadence (CLC) - Q4
...,...,...,...,...,...,...,...,...
35,kplr007419318,Kepler,Kepler,14,1800.000,0.0,2012,Lightcurve Long Cadence (CLC) - Q14
36,kplr007419318,Kepler,Kepler,15,1800.000,0.0,2013,Lightcurve Long Cadence (CLC) - Q15
37,kplr007419318,Kepler,Kepler,16,1800.000,0.0,2013,Lightcurve Long Cadence (CLC) - Q16
38,kplr007419318,Kepler,Kepler,17,1800.000,0.0,2013,Lightcurve Long Cadence (CLC) - Q17
39,Gaia DR3 2104847370214740352,KBONUS-BKG,HLSP,99,1765.464,0.0,2009,FITS

In [32]:
# You can download a subsection of results directly
kep_lc[:2].download()

                                          Local Path    Status Message   URL
0  /Users/nthom/.tssc/cache/mastDownload/Kepler/k...  COMPLETE    None  None
0  /Users/nthom/.tssc/cache/mastDownload/Kepler/k...  COMPLETE    None  None

Notice that when downloading, a table is printed out showing the status of the download. You can save this table and explore it in more detail, if desired.

In [34]:
# You can download a subsection of results directly
manifest = kep[:2].download()
print(manifest['Local Path'].values)

['/Users/nthom/.tssc/cache/mastDownload/Kepler/kplr007419318_lc_Q111111111111111111/kplr007419318-2009131105131_llc.fits'
 '/Users/nthom/.tssc/cache/mastDownload/Kepler/kplr007419318_lc_Q111111111111111111/kplr007419318-2009131105131_lpd-targ.fits.gz']

In [35]:
# we can also filter the results by observing quarter
kep_quarters = kep.filter_table(quarter=[7,17])
kep_quarters

,target_name,pipeline,mission,quarter,exptime,distance,year,description
0,kplr007419318,Kepler,Kepler,7,60.0,0.0,2010,Lightcurve Short Cadence (CSC) - Q7
1,kplr007419318,Kepler,Kepler,7,60.0,0.0,2010,Lightcurve Short Cadence (CSC) - Q7
2,kplr007419318,Kepler,Kepler,7,60.0,0.0,2010,Lightcurve Short Cadence (CSC) - Q7
3,kplr007419318,Kepler,Kepler,7,60.0,0.0,2010,Target Pixel Short Cadence (TPS) - Q7
4,kplr007419318,Kepler,Kepler,7,60.0,0.0,2010,Target Pixel Short Cadence (TPS) - Q7
5,kplr007419318,Kepler,Kepler,7,60.0,0.0,2010,Target Pixel Short Cadence (TPS) - Q7
6,kplr007419318,Kepler,Kepler,7,1800.0,0.0,2010,Lightcurve Long Cadence (CLC) - Q7
7,kplr007419318,Kepler,Kepler,7,1800.0,0.0,2010,Target Pixel Long Cadence (TPL) - Q7
8,kplr007419318,Kepler,Kepler,17,1800.0,0.0,2013,Lightcurve Long Cadence (CLC) - Q17
9,kplr007419318,Kepler,Kepler,17,1800.0,0.0,2013,Target Pixel Long Cadence (TPL) - Q17

## K2 Search

K2Search behaves in much the same way as Kepler. As with Kepler, both mission products and HLSPs are returned by default. Note that instead of quarters, the K2 mission was separated by campaign.

In [36]:
K2 = K2Search("K2-18")
K2

,target_name,pipeline,mission,campaign,exptime,distance,year,description
0,ktwo201912552,K2,K2,1,1800.0,0.0,2014,Lightcurve Long Cadence (KLC) - C01
1,ktwo201912552,K2,K2,1,1800.0,0.0,2014,Target Pixel Long Cadence (KTL) - C01
2,ktwo201912552,EVEREST,HLSP,1,1800.0,0.0,2014,PDF
3,ktwo201912552,EVEREST,HLSP,1,1800.0,0.0,2014,FITS
4,ktwo201912552,K2SFF,HLSP,1,1800.0,0.0,2014,FITS
5,ktwo201912552,K2VARCAT,HLSP,1,1800.0,0.0,2014,FITS

In [46]:
# Download all lightcurves produced by HLSPs
K2_HLSPs = K2.HLSPs
K2_HLSPs

,target_name,pipeline,mission,campaign,exptime,distance,year,description
0,ktwo201912552,EVEREST,HLSP,1,1800.0,0.0,2014,PDF
1,ktwo201912552,EVEREST,HLSP,1,1800.0,0.0,2014,FITS
2,ktwo201912552,K2SFF,HLSP,1,1800.0,0.0,2014,FITS
3,ktwo201912552,K2VARCAT,HLSP,1,1800.0,0.0,2014,FITS

In [ ]:
manifest = K2_HLSPs.timeseries.download()
manifest

                                          Local Path    Status Message   URL
0  /Users/nthom/.tssc/cache/mastDownload/HLSP/hls...  COMPLETE    None  None
0  /Users/nthom/.tssc/cache/mastDownload/HLSP/hls...  COMPLETE    None  None
0  /Users/nthom/.tssc/cache/mastDownload/HLSP/hls...  COMPLETE    None  None

## TESScut

In addition to lightcurves and target pixel files, TESS provides Full Frame Image (FFI) data. This data was taken at a cadence of 30 minutes during the primary mission, 10 minutes during the first extension, and 200-seconds beginning in the second mission extension. 

lksearch allows users to download entire FFIs, or make smaller cutouts around a target of interest using TESScut. All of this functionality if available with the TESSSearch object.

### Find and download TESScut TPFs

In [53]:
search_result = TESSSearch("TOI 270", hlsp=False)

# You can filter two different ways to get the same result.
#search_result.filter_table(pipeline='TESScut')
search_result.tesscut

,target_name,pipeline,mission,sector,exptime,distance,year,description
0,TOI 270,TESScut,TESS Sector 03,3,1800.0,0.0,2018,TESS FFI Cutout (sector 3)
1,TOI 270,TESScut,TESS Sector 04,4,1800.0,0.0,2018,TESS FFI Cutout (sector 4)
2,TOI 270,TESScut,TESS Sector 05,5,1800.0,0.0,2018,TESS FFI Cutout (sector 5)
3,TOI 270,TESScut,TESS Sector 30,30,600.0,0.0,2020,TESS FFI Cutout (sector 30)
4,TOI 270,TESScut,TESS Sector 31,31,600.0,0.0,2020,TESS FFI Cutout (sector 31)
5,TOI 270,TESScut,TESS Sector 32,32,600.0,0.0,2020,TESS FFI Cutout (sector 32)

For TESScut images, you can specify how large you want the cutout to be in pixels when you download the data using the TESScut_size keyword. By default, it will download a 10-pixel square image. If you use set this keyword when downloading non-TESScut data, it will be ignored.

In [54]:
search_result.tesscut.filter_table(sector=3).download(TESScut_size=20)

                                          Local Path    Status
0  /Users/nthom/.tssc/cache/mastDownload/TESSCut/...  COMPLETE

### Find and download full frame images

In some cases, users may want to access an FFI, for example to see if any artifacts exist on a CCD level. TESSSearch objects use the location of the target to find what camera/ccd the target was observed and access the FFIs. 

Note that FFI files are large, so downloading a full sector to your hard drive is not recommended. The FFI search therefore allows you to limit the search by providing a start and stop time. Times can be provided as astropy Time objects. If a number is provided with no units, it assume MJD.

In [57]:
search_result = TESSSearch("Kepler 16b")
search_result

,target_name,pipeline,mission,sector,exptime,distance,year,description
0,299096355,SPOC,TESS,14,120.0,0.0,2019,full data validation report
1,299096355,SPOC,TESS,14,120.0,0.0,2019,full data validation report
2,299096355,SPOC,TESS,14,120.0,0.0,2019,Data validation mini report
3,299096355,SPOC,TESS,14,120.0,0.0,2019,Data validation mini report
4,299096355,SPOC,TESS,14,120.0,0.0,2019,TCE summary report
...,...,...,...,...,...,...,...,...
152,299096355,CDIPS,HLSP,54,1800.0,0.0,2022,FITS
153,299096355,QLP,HLSP,54,600.0,0.0,2022,FITS
154,299096355,CDIPS,HLSP,55,1800.0,0.0,2022,FITS
155,299096355,QLP,HLSP,55,600.0,0.0,2022,FITS
156,299096355,QLP,HLSP,56,200.0,0.0,2022,FITS

In [58]:
# tstart, tstop in mjd
ffis = search_result.search_individual_ffi(58682,58710, sector=14)
ffis

,target_name,pipeline,mission,sector,exptime,distance,year,description
0,tess2019220045929-s0014-2-4-0150-s,SPOC,TESS,14,1800,NaN,2019,Calibrated full frame image
1,tess2019200195929-s0014-2-4-0150-s,SPOC,TESS,14,1800,NaN,2019,Calibrated full frame image
2,tess2019219202929-s0014-2-4-0150-s,SPOC,TESS,14,1800,NaN,2019,Calibrated full frame image
3,tess2019220002929-s0014-2-4-0150-s,SPOC,TESS,14,1800,NaN,2019,Calibrated full frame image
4,tess2019201155929-s0014-2-4-0150-s,SPOC,TESS,14,1800,NaN,2019,Calibrated full frame image
...,...,...,...,...,...,...,...,...
1236,tess2019220162929-s0014-2-4-0150-s,SPOC,TESS,14,1800,NaN,2019,Calibrated full frame image
1237,tess2019205002929-s0014-2-4-0150-s,SPOC,TESS,14,1800,NaN,2019,Calibrated full frame image
1238,tess2019205125929-s0014-2-4-0150-s,SPOC,TESS,14,1800,NaN,2019,Calibrated full frame image
1239,tess2019222162929-s0014-2-4-0150-s,SPOC,TESS,14,1800,NaN,2019,Calibrated full frame image
1240,tess2019216132929-s0014-2-4-0150-s,SPOC,TESS,14,1800,NaN,2019,Calibrated full frame image

This produces more than 1000 FFI files, which likely we don't want. Let's limit it to just one.

In [60]:
ffis.filter_table(limit=1).download()

                                          Local Path    Status Message   URL
0  /Users/nthom/.tssc/cache/mastDownload/TESS/tes...  COMPLETE    None  None